services:
  bot:
    build: .
    command: python -c "import time; print('--- PYTHON IS RUNNING ---', flush=True); [time.sleep(1) for _ in range(999)]"
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8080"

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/

volumes:
  postgres_data:
